body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td,
	img, div, dl, dt, dd, input, span, i, a {
	margin: 0;
	padding: 0;
}

body {
	background-color: #d9d9d9;
	width: 1349px;
}

a, a:hover {
	text-decoration: none;
}

/*ͷ��������ʽ*/
#shortcut {
	text-align: right;
	padding-right: 40px;
	height: 30px;
	line-height: 30px;
	background-color: #e3e4e5;
}

#shortcut span {
	color: #999999;
	display: inline-block;
	padding-bottom: 30px;
}

#shortcut span a {
	color: #999999;
	text-decoration: none;
}

#shortcut span a:hover {
	color: #e33333;
	text-decoration: none;
}

.sp-line {
	display: inline-block;
	margin: 5px 10px 0 10px;
	width: 1px;
	line-height: 10px;
	height: 10px;
	background-color: #ccc;
}
/*����ͷ��������ʽ*/
#header {
	width: 100%;
	height: 140px;
	/*border: 1px solid red;*/
}

#logoImage {
	/*height: 170px;*/
	/*width: 190px;*/
	margin-top: 20px;
	margin-left: 100px;
	float: left;
	/*border: 1px solid red;*/
}

#header #logoImage img {
	box-shadow: 0 0 10px 0 #bbb;
}
/*���������ʽ��ʼ*/
#searchDiv {
	/*border: 1px solid red;*/
	
}

#searchForm {
	padding-top: 20px;
}

#searchInput {
	margin-left: 176px;
	display: inline-block;
	width: 500px;
	height: 40px;
}

#searchBtn {
	display: inline-block;
	height: 40px;
	width: 60px;
	margin-left: -2px;
	margin-top: -2px;
	font-size: 14px;
}

#hotwords {
	position: absolute;
	left: 420px;
	top: 90px;
	color: #999999;
	width: 550px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-top: 5px;
}

#navitems {
	font-size: 15px;
	height: 60px;

	/*border: 1px solid red;*/
}

#navitems #spans {
	left: 320px;
	top: 90px;
	position: absolute;
	/*	border: 1px solid red;*/
}

#navitems span {
	height: 20px;
	display: inline-block;
	margin: 40px 10px 0 10px;
}

#navitems span a {
	color: #333333;
	display: inline-block;
	text-decoration: none;
}

#navitems span a:hover {
	color: red;
}